<div class="clock-container">
   <div class="flip-unit">
     <div class="flip-card">
       <div class="flip-card-front">{{ hoursTens }}</div>
       <div class="flip-card-back">{{ hoursTens }}</div>
     </div>
   </div>
   <div class="flip-unit">
     <div class="flip-card">
       <div class="flip-card-front">{{ hoursUnits }}</div>
       <div class="flip-card-back">{{ hoursUnits }}</div>
     </div>
   </div>
   <div class="flip-unit">
     <div class="flip-card">
       <div class="flip-card-front">{{ minutesTens }}</div>
       <div class="flip-card-back">{{ minutesTens }}</div>
     </div>
   </div>
   <div class="flip-unit">
     <div class="flip-card">
       <div class="flip-card-front">{{ minutesUnits }}</div>
       <div class="flip-card-back">{{ minutesUnits }}</div>
     </div>
   </div>
   <div class="am-pm">{{ amPm }}</div>
</div>
   